/*
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
 */

/* Table of content
1.General - This is created general styles and overide some bootstrap classes.
2.Layout
 2.1 Animations
 2.2 Buttons
 2.3 Thumbnail - overide bootstrap thumbnail and add mased efect
 2.4 Socail icons -style for social icons list
3 Sections - definition for section and subsection
 3.1 Services
 3.2 Portfolio
 3.3 About
 3.4 Clients
 3.5 Price table
 3.6 Newsletter
 3.7 Contact
 3.8 Footer
4 Responsive
**********************************************************************/

@import url("font-awesome/css/font-awesome.min.css");
@import url("nova/nova.css");
@import url("grid.css");

:root {
    /* --background: #181A1C; */
    --background: #7d8996;
    --on-background: #fff;
    --on-background-border: #181A1C;

    --header: #95a3b3;
    --on-header: #fff;
    --on-header-border: #181A1C;

    --surface: #95a3b3;
    --on-surface: #fff;

    --primary: #fdc501;
    --primary-accent: #181A1C;

    --primary-variant-1: #f7ebc0;
    --primary-variant-2: black;

    --on-primary: #181A1C;
    --on-primary-border: #181A1C;
    --on-primary-accent: #fff;

    --secondary: #7d8996;
    --secondary-variant-1: #C5CED9;
    --on-secondary: #181A1C;

    --contact-icon: #fff;
    --contact-icon-accent: #181A1C;
    --social-icon: #fff;
    --social-icon-accent: #fdc501;

    --primary-gradient: linear-gradient(0deg, var(--primary) 0%, var(--primary-variant-1) 100%);
}

/*
1. General
**********************************************************************/

body {
    font-family: 'Roboto', sans-serif;
    color: var(--on-background);
    /* line-height: 1.2em; */
    font-size: 17px;
    line-height: 20px;
    background-color: var(--background);
    height: 100%;
}
a {
    color: var(--background);
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: var(--primary);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    font-weight: 100;
    color: var(--on-background);
}
.navbar {
    background: var(--header);
    margin-bottom: 0;
    min-height: 70px;
}

.navbar-fixed-top {
    min-height: 60px;
    height: 60px;
    padding-top: 0;
}
.navbar-inner {
    background: var(--header);
    border-radius: 0;
    filter: none;
    border: none;
    box-shadow: none;
}
.navbar .brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 0px;
}
.navbar .brand img {
    display: flex;
    width: 42px;
    height: 42px;
    margin-right: 4px;
}
.brand-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4px;
}
.brand h2, .brand h3, .brand h4, .brand h5, .brand h6 {
    font-family: 'Cleargothic', sans-serif;
    margin: 0;
    line-height: 20px;
    color: var(--on-header);
    letter-spacing: 0.02em;
    /* color: #181A1C; */
}
.brand h2, .brand h3 {
    letter-spacing: 0.1em;
}
.navbar .nav > li > a {
    text-transform: uppercase;
    line-height: auto;
    vertical-align: middle;
    margin: 10px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid var(--header);
    box-shadow: none;
    font-size: 15px;
    text-shadow: none;
    color: var(--on-header);
    transition: border-color 1s ease;
}
.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border: 1px solid var(--primary);
    color: var(--on-header);
    background-color: var(--primary);
    transition: border-color 1s ease;
}
.nav-pills {
    margin-bottom: 30px;
}
.nav-pills > li > a {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--on-primary);
    border: 1px solid var(--on-primary-border);
    border-radius: 6px;
}
.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background: var(--header);
    color: var(--on-header);
}
.navbar .btn-navbar:hover, .navbar .btn-navbar {
    border-radius:0;
    background: var(--primary);
    color: #000;
}
#service .nav-pills > li > a {
  color: var(--on-background);
  border: 1px solid var(--on-background);
}
#service .nav-pills > li > a:hover,
#service .nav-pills > .active > a,
#service .nav-pills > .active > a:hover,
#service .nav-pills > .active > a:focus {
    background: var(--primary);
    color: #000;
}
#home .triangle {
  border-top-color: var(--header);
}
/******
2. Layout
**********************************************************************/
.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
}
/* Use this class if you want ceter element with span* class */
 .center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}
.highlighted-box {
    background: #F4F8F9;
    padding: 20px 30px;
}
.highlighted-box h1 {
    margin: 0px;
}
.large-text {
    line-height: 1.2em;
    font-size: 30px;
    color: var(--on-primary);
    padding: 20px;
    margin-bottom: 20px;
}
.highlighted-box h1, .highlighted-box p {
    color: var(--on-primary) !important;
}
.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;
    border: 3px solid #fff;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: left;
}
.error {
    color: #CF0000;
    display: none;
}
.invisible {
    display: none;
    visibility: visible;
}
.triangle {
    margin: 0 auto;
    text-align: center;
    width: 0;
    height: 0;
    border-top: 30px solid  var(--background);
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}
/*
2.1 Animations
**********/
 .zoom-in {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}
.zoom-in:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/
.button, .button:visited, .button:focus {
    display: inline-block;
    /* border: 1px solid  var(--on-primary-border); */
    color: var(--on-primary);
    /* background-color: transparent; */
    background-color: #52cfde;
    padding: 15px 30px;
    font-size: 17px;
    line-height: auto;
    border-radius: 8px;
}
.button:hover, .button:active{
    background-color: var(--background);
    color:#fff;
}
.button-sp, .button-sp:visited, .button-sp:focus {
    border: none;
    background-color: var(--primary);
    color: var(--on-primary);
}
.button-sp:hover, .button-sp:active {
    background-color: var(--background);
    color: var(--primary);
}
.button-ps, .button-ps:visited, .button-ps:focus {
    border: none;
    background-color: var(--background);
    color: var(--primary);
}
.button-ps:hover, .button-ps:active {
    background-color: var(--primary);
    color: var(--background);
}
/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
 .thumbnail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    background: var(--surface);
}
.thumbnail .more {
    display: block;
    z-index: 4;
    position: absolute;
    top: -100px;
    left: 50%;
    margin: 0 auto;
    margin-left: -41px;
    width: 80px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    line-height: 70px;
    text-align: center;
}
.thumbnail:hover .more {
    top: 40%;
    margin-top: -40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thumbnail h2 {
  position: relative;
  z-index: 4;
}
.thumbnail h3,
.thumbnail p {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 4;
}
.thumbnail h3 {
    color: var(--primary);
    margin-top: 10px;
    font-size: 20px;
}
.thumbnail > h3:last-of-type {
  margin-top: auto;
}
.thumbnail > p {
    padding-bottom: 20px;
}
.thumbnail .mask {
    opacity: 0.85;
    filter: alpha(opacity=85);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumbnail:hover .mask {
    top: 0;
}
/*
2.4 Socail icons
************/
.social {
    list-style: none;
    float: none;
    position: relative;
    margin:5px; auto;
}
.social li {
    display: inline-block;
    line-height: 32px;
    font-family: 'Porta';
    font-size: 32px;
    padding: 0 5px;
}
.social li a {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    color: var(--social-icon);
}
.social li a:hover {
    color: var(--social-icon-accent);
}
/*
3. Sections
***************************************************************************/
 .section {
    padding-bottom: 50px;
}
.section .container {
    padding-top: 50px;
}
.section .title {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}
.section .title h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}
.section .title > p {
    font-size: 20px;
    color: #FFF;
    font-weight: lighter;
}
.primary-section {
    background: var(--background);
}
.primary-section .triangle {
    border-top: 40px solid var(--primary);
}
.primary-section .title {
    border-bottom: 1px solid #FFF;
}
.primary-section, .primary-section .title p, .primary-section h3 {
    color: var(--on-background);
}
.primary-section h1 {
    color: #FFF;
}
.secondary-section {
    background: var(--primary-gradient);
}
.secondary-section .title {
    border-bottom: 1px solid var(--background);
}
.secondary-section h1, .secondary-section .title p {
    color: var(--on-primary);
}
/* Third section use background image */
.third-section {
    padding-bottom: 70px;
    background: var(--background) url(../images/brand-bg.png) no-repeat center;
    border-top: 6px solid var(--primary);
}
.third-section .container {
    padding-top: 20px;
    position: relative;
}
.third-section .title {
    border-bottom: 1px solid #A1AAB7;
    color: var(--primary);
}
.sub-section {
    margin-top: 30px;
}
.sub-section .title {
    padding: 0;
}
/*******
3.1 Services
***************************************/
.service{
    /* margin-top: 20px; */
    text-align: center;
    background-color: var(--surface);
    border-radius: 6px;
    padding: 50px 10px 50px 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(27,27,27,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(27,27,27,0.1);
    box-shadow: 0px 0px 15px 0px rgba(27,27,27,0.1);
    /* height: 350px; */
    margin-bottom: 30px;
}
.service h2 {
    padding-top: 15px;
}
.service p {
    /* padding: 0px 50px; */
    height: 60px;
}
.service img {
    width: 150px;
    height: 150px;
}
/*
3.2 Portfolio
***************************************/
 .single-project {
    margin-bottom: 30px;
    background: var(--surface);
}
.single-project img {
    width: 100%;
}
.project-description {
    padding-right: 20px;
}
.project-description p {
    padding-left: 0;
}
.project-title {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--primary);
}
.project-title h3 {
    float: left;
    margin-top: 0;
    padding: 0;
    width: 80%;
}
.project-title .close {
    color: var(--primary);
    margin-top: 10px;
}
.project-title h3 {
    color: #FFF;
}
.project-info span {
    color: var(--primary);
}
.project-info {
    font-weight: 100;
    padding: 10px 0;
}
.project-info span {
    width: 80px;
    display: inline-block;
}
.project-info div {
    margin-bottom: 5px;
}
.close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}
#portfolio-grid .mix {
    opacity: 0;
    display: none;
}
/*
3.3 About
******************************************************************/
 .team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}
.team .thumbnail:hover .social {
    z-index: 5;
}
.team .thumbnail:hover .social a {
    color: #fff;
}
.team .thumbnail .mask {
    background: var(--primary);
}
.team .thumbnail .mask h2 {
    margin-top: 70%;
}
.team .thumbnail .mask,
.team .thumbnail .mask h2,
.team .thumbnail .mask h3,
.team .thumbnail .mask p,
.team .thumbnail:hover h2,
.team .thumbnail:hover h3,
.team .thumbnail:hover .social a:hover {
    color: #181A17;
}
.team .thumbnail .mask img {
  z-index: -1;
}
.about-text {
    margin-top: 30px;
}
.about-text p {
    padding: 0;
    font-size: 16px;
}
/*********************************************************************
                        SKILLS BAR
*********************************************************************/
 .skills {
    list-style-type: none;
    position: relative;
    margin: 0px;
}
.skills li {
    margin-bottom: 30px;
    background: #FFF;
    height: 40px;
    padding: 1px;
}
.skills li h3 {
    position: relative;
    font-size: 15px;
    padding: 0;
    margin: 0;
    left: 10px;
    z-index: 1;
    color: var(--on-primary);
}
.skills li .bar {
    height: 40px;
    position: absolute;
    background-color: var(--primary);
}
/*
3.4 Clients
**********************************************************************/
 .client-slider img {
    border: 1px solid white;
}
.client-slider img:hover {
    background-color: var(--primary);
}
.client-nav {
    list-style: none;
    margin-top: 10px;
}
.client-nav li {
    float: left;
    display: block;
    margin-left: 10px;
}
.client-nav li a {
    display: inherit;
    padding: 5px 15px;
    background: var(--primary);
    color: var(--on-primary);
    border-radius: 3px;
    /* width: 20px; */
    height: 20px;
}
.client-nav li a:hover {
    background: var(--background);
}
.testimonial p {
    color: var(--on-primary);
    background: var(--primary);
    padding: 15px;
    margin: 0;
}
.testimonial .arrow {
    margin-left: 10px;
    width: 0;
    border-top: 10px solid var(--primary);
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
}
.testimonial .whopic {
    display: inline-block;
}
.testimonial .whopic img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: left;
}
.testimonial .whopic strong {
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}
.testimonial .whopic small {
    display: block;
    font-size: 12px;

}
.testimonial-text{
    display: block;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
    line-height: 1.3em;
}
/*
3.5 Price table
******************************************************************/
 .price-table {
    margin-top: 70px;
    margin-bottom: 20px;
}
.price-column {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}
.price-column h3 {
    background-color: var(--surface);
    text-transform: uppercase;
    text-align: center;
    color: var(--primary);
    padding: 40px 0px;
    font-size: 36px;
    margin-top: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.price-column .list{
    list-style: none;
    margin: 20px 50px;
}
.price-column .list li{
    font-weight: lighter;
    color: #747C89;
    font-size: 20px;
    border-bottom: 1px solid #747C89;
    padding: 25px 0px;
}
.price-column .list li.price {
    text-align: center;
    font-size: 31px;
    background-color: white;
    color: #747C89;
    margin-top: 25px;
}
.price-text{
    margin: 30px 0 20px;
    font-size: 20px;
    color: var(--on-primary);
    font-weight: normal;
}
/*
3.6 Newsletter
********************************************************************/
 .newsletter, .newsletter h2 {
    color: #D7DDDE;
}
.newsletter .title h2 {
    text-align: left;
    padding: 0;
    margin: 0;
}
.newsletter form {
    text-align: right;
}
.newsletter input {
    margin-top: 10px;
    padding: 15px;
    height: auto;
}
.newsletter button {
    margin: 0 0 0 20px;
}
.newsletter .button-sp:hover, .newsletter .button-sp:active {
    background-color: #FFF;
    color: var(--background);
}

/*
3.7 Contact
********************************************************************/
 .contact {
    background: var(--primary);
}
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
    color: var(--on-primary);
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}
.contact textarea {
    height: 120px;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-info p{
     font-weight: normal;
     margin: 0;
}
.contact-info .icon {
    margin:10px auto;
    font-size: 30px;
}
.map-wrapper {
    position: relative;
    height: 500px;
}
.map-canvas {
    position: absolute;
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    color: #29383F;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.contact .social {
    display: inline-block;
    margin-left: 0;
}
.contact .social li {
    line-height: 32px;
    padding: 10px 10px;
    font-family: 'Porta';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}
.contact .social li a {
    color: var(--contact-icon);
}
.contact .social li a:hover {
    color: var(--contact-icon-accent);
}
.contact-form {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    z-index: 110;
    position: relative;
    margin-top: -25px;
    padding: 20px;
}
.contact-form h3 {
    color: #838589;
    padding-bottom: 20px;
}
.message-btn {
    border: 1px solid #747C89;
    color: #747C89;
    background-color: transparent;
    padding: 15px 30px;
    font-size: 17px;
}
.message-btn:hover {
    background-color: var(--primary);
}
.contact-info {
    text-align: center;
    font-size: 22px;
}
.info-mail {
    border: 1px solid white;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    color: #fff;
}
.black {
    color: var(--background);
}
/*
3.8 Footer
********************************************************************/
.footer {
    display: flex;
    flex-direction: row;
    background: var(--background);
    text-align: center;
    padding: 64px 0px;
}
.footer > p {
    color: #fff;
    margin: 0;
}
.scrollup {
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    width: 39px;
    height: 39px;
    border-radius: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 20px;
	  border: 1px solid #fff;
    display: none;
    background: var(--primary);
}
.scrollup > a {
    position: relative;
    top: 7px;
    color: #fff;
}
/*
4 Responsible
********************************************************************/
 @media (min-width: 1200px) {
    .thumbnail .more {
        margin-left: -41px;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        line-height: 80px;
    }
}
@media (max-width: 979px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left: -21px;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top: -20px;
    }
    .newsletter form {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .info-mail {
        width: 90%;
        padding: 15px 0px;
    }
    .project-description {
        padding-left: 20px;
    }
    .price-column, .testimonial {
        margin-top: 30px;
    }
}

.social-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
}
.social-block  p {
    font-weight: normal;
}

.bx-wrapper ul {
	overflow-x: auto;
	width: 110% !important;
  transform: none !important;
}
.bx-wrapper li {
	display: flex;
}



#stats {
	/* background: #001835; */
	/* padding-top: 7.2rem; */
	/* padding-bottom: 4.8rem; */
  /* padding-top: 85px; */
  /* padding-bottom: 40px; */
	text-align: center;
  /* max-height: 560px; */
  /* overflow-y: auto; */
}

/* #stats .grid-row {
	max-width: 1440px;
} */

#stats .stat {
	/* min-height: 17.4rem; */
	/* padding-bottom: 1.5rem; */
}

#stats .icon-part {
	position: relative;
	padding-bottom: 1.2rem;
}

#stats .icon-part::after {
	content: "";
	display: block;
	width: 80px;
	height: 1px;
	background: var(--primary);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}

#stats .icon-part i {
	font-size: 4rem;
	color: var(--primary);
}

#stats .stat-count {
	color: #FFFFFF;
	font-size: 38.5px;
	margin-top: 1.2rem;
	margin-bottom: 0;
	font-family: "roboto-medium", sans-serif;
	color: white;
}

#stats .stat-title {
	/* color: rgba(255, 255, 255, 0.3); */
	color: var(--primary);
	/* font-size: 1.4rem; */
  font-size: 20px;
  margin-top: 5px;
}

#stats .title h1 {
  color: #FFFFFF;
}
#stats .title > p {
  color: var(--primary);
}
#stats .centered {
  /* margin-bottom: 1.2rem; */
  margin-bottom: 30px;
}
#stats .centered > p {
  padding: 0;
  font-size: 16px;
}

/* -------------------------------------------------------------------
 * responsive:
 * stats
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	#stats .stat:nth-child(n) {
		/* border-left: 1px solid rgba(255, 255, 255, 0.05); */
		padding-bottom: 1rem;
	}

	#stats .stat:nth-child(3n+1) {
		border: none;
    padding-bottom: 0;
	}
	#stats .stat:nth-child(4n+1) {
    padding-bottom: 0;
  }
	#stats .stat:nth-child(5n+1) {
    padding-bottom: 0;
  }
  #stats .title {
    padding-top: 0;
  }
}

@media only screen and (max-width:768px) {
	#stats .stat:nth-child(n) {
		/* border-left: 1px solid rgba(255, 255, 255, 0.05); */
	}

	#stats .stat:nth-child(2n+1) {
		border: none;
	}

}

@media only screen and (max-width:600px) {
	#stats .stat:nth-child(n) {
		border: none;
	}

}

#technologies {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

#technologies .technology {
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  width: 120px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

#technologies .technology .tech-label {
  margin-top: 16px;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  /* color: var(--on-surface); */
}

#technologies .technology .tech-icon {
  width: 64px;
  height: 64px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: var(--secondary-variant-1);
  border-radius: 50%;
  /* -webkit-box-shadow: 0px 0px 15px 0px rgba(27,27,27,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(27,27,27,0.1);
  box-shadow: 0px 0px 15px 0px rgba(27,27,27,0.1); */
  /* -webkit-box-shadow: 0px 0px 15px 0px var(--secondary-variant-1);
  -moz-box-shadow: 0px 0px 15px 0px var(--secondary-variant-1);
  box-shadow: 0px 0px 15px 0px var(--secondary-variant-1); */
}

#technologies .technology img {
  width: 42px;
  height: 42px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: var(--surface);
  border-radius: 50%;
}

#process {

}
#process svg{
  fill: var(--primary);
}

#process table {
  width: 100%;
}
#process td {
  text-align: center;
}

#process .circle-border img {
  width: 150px;
  height: 150px;
}

#process .arrow-up {
  width: 100px;
  height: 100px;
  margin-bottom: -80px;
  transform: rotate(30deg);
  z-index: 10;
}

#process .arrow-down {
  width: 100px;
  height: 100px;
  margin-top: -130px;
  margin-bottom: 50px;
  transform: rotate(-30deg);
  z-index: 10;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--background);
	z-index: 9999999;
	height: 100%;
	width: 100%;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background-color: var(--primary);
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}


@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}

	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}

}

@keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}

}

.modal {
  color: black;
  width: auto;
}
/* .contact {
   background: var(--primary);
} */
.modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6, .modal p {
   color: var(--on-primary);
   text-align: left;
}
.modal h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal h4 {
  margin-top: 40px;
  /* margin-bottom: 30px; */
}
.modal h3 {
  margin-top: 30px;
}
.modal textarea, .modal input[type="text"], .modal input[type="email"] {
   padding: 10px;
   line-height: 20px;
   height: auto;
}
.modal input[type="text"], .modal input[type="email"], .modal input[type="password"] {
  width: 95%;
  margin-bottom: 30px;
  padding: 10px;
  line-height: 20px;
  height: auto;
}
.modal textarea {
   height: 120px;
   width: 95%;
   resize: none;
}
.modal .close {
   height: auto;
   width: auto;
   font-size: 26px;
}
.modal-header {
  background-color: #f5f5f5;
  padding-left: 30px;
  border-radius: 6px 6px 0 0;
}
.modal-body {
  padding: 0px 30px 10px 30px;
  text-align: left;
  max-height: 100%;
  background: rgba(255, 255, 255, 0.9);
  /* background: var(--primary-gradient); */
}
.modal-footer {
  text-align: left;
  padding-left: 30px;
  background-color: #f5f5f5;
}


.best-choose {
    border-radius: 6px;
    /* margin-bottom: 30px; */
    background: var(--surface);
}
.best-choose .button {
    border: 0;
}
.best-choose p {
    padding: 0;
}
.best-choose strike {
    color: lightgray;
}
.best-choose h3:first-of-type {
    margin-top: 0;
}
.best-choose .span12, .best-choose .span8, .best-choose .span4, .best-choose .span3 {
    padding: 30px;
    margin-left: 0px;
}
.best-choose .span12 {
    padding-top: 0;
}
.best-choose .button-wrapper {
    width: 100%;
    padding: 30px;
    padding-top: 0;
}
@media (max-width: 767px) {
   .best-choose .span4 {
     padding-top: 0;
   }
}

.best-choose-title {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid var(--primary);
}
.best-choose-title h2, .best-choose-title h3 {
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: var(--primary);
    width: 80%;
}
.best-choose-info {
    font-weight: 100;
    padding: 10px 0;
}
.best-choose-info span {
    width: 80px;
    display: inline-block;
}
.best-choose-info div {
    margin-bottom: 5px;
}

.discount-wrapper {
  position: absolute;
  right: 15px;
}
.discount-icon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.discount-icon img {
  width: 100%;
}
.discount-icon h2 {
  position: absolute;
  color: var(--primary);
  font-size: 32px;
  text-align: center;
  line-height: 1em;
}

@media (max-width: 1024px) {
  .discount-icon {
      width: 100px;
  }
  .discount-icon h2 {
      font-size: 24px;
  }
}
@media (max-width: 360px) {
  .discount-icon {
      width: 70px;
  }
  .discount-icon h2 {
      font-size: 18px;
  }
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team .span2, .team .span3, .team .span4 {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px;
  margin-bottom: 30px;
}
.team .span2, .team .span3 {
  max-width: 23%;
}
.team .span2 .thumbnail .mask h2 {
  margin-top: 40%;
}
.team .span3 .thumbnail .mask h2 {
  margin-top: 60%;
}
@media (max-width: 767px) {
  .team .span2, .team .span3 {
    max-width: 100%;
  }
}

#discount-banner {
  background: white;
  color: black;
  background: url('background/iconsmind3.png'), rgba(255,255,255,0.7);
  background-blend-mode: color;
}
#discount-banner {

}
#discount-banner .button {
  border: 0;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
#discount-banner .span6 {
  position: relative;
  padding-bottom: 50px;
}
#discount-banner h3 {
  font-family: 'Work Sans', sans-serif;
  /* font-size: 42px; */
  margin-bottom: 30px;
  letter-spacing: .07em;
  line-height: 1em;
  letter-spacing: -0.2rem;
  line-height: 1em;
  font-weight: 1000;
  font-size: 60px;
  text-align: right;
}
@media (max-width: 1200px) and (min-width: 980px) {
  #discount-banner h3 {
    font-size: 50px;
    margin-bottom: 25px;
  }
}
@media (max-width: 980px) and (min-width: 768px) {
  #discount-banner h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
